# Analysing of analysers

> Well done Xueyuan! You've completed all the tasks (although the ideas need a bit more fleshing out - we can discuss this later though). For the next homework assignment can you try and think a bit more about the reader, as part of the communication part of being a data scientist. The more work you do making the code readable and the formatting easier to read the easier it is for other people to pick up  your work. Also (and this happened to me a lot when I was getting started), if I don't document my code and make it easy to read it takes me longer to comback and re-visit work.

> https://twitter.com/loh/status/411282297816498176 

> :)

> (Your formatting looks good in raw form - just try and put that in Markdown format)

##
*1. Companies sometimes are not clear what skills is required and can be found (at a reasonable wage) on the market. This may 

create confusion for job-seekers as well.

*2. Segments: Data BUsiness people, data creatives (hacker or artist), Data Developer (technical skills), Data Researchers 

(well trained in academy)

*3.  T-shaped skills (breadth of skills at the top, with depth in one area, or  I-shape(domain knowledge at bottom).

*4. Source of scientist: needs sciend and tools education

*5. Design pathway for the career development, so they can work effectively

> Glad you picked up on the T shaped data scientitsts. Carrer development is a big consideration for a lot of data scientitsts, especially when the field is constantly eveolving.

# Data Science Handbook

*DJ Patel(RelatedIQ):Work hard (easily 100+ hours/week), be the first one to enter the building. Bound to other peers. Data 

Science is a team work. Compassion is critical. And you can do it for the greater common good. (civic, education and health 

care)

any young people today are confronted with this problem related to knowledge 
and wisdom. They have to decide: Do they do what they’re deeply passionate about? Or the route with most immediate amount of 

growth? Do they go compound the knowledge of skills, or 
do they build wisdom in that domain? 
DJ: 
It’s a good and classic conundrum. I’ve gone with it as a non-linear approach: you go 
where the world takes you. The way I think about it is, wherever you go, make sure you’re 
around the best people in the world

> Yes, it's very important to play your role in the team. Data science is very rarely an individual pursuit.

*M. D'agostino: Most useful things did during PHD were working on hackathons or Kaggle or datasets and working with people. 

Teach yourself stuff and figure out things; be stubborn and beat your head on a proelbem until you make progress.

> Yes, being stubborn can be a good thing when learning data science and machine learning. It's a great sense of satisfaction when you finally have that 'aha' moment and things finally become clear.

# Project ideas

    Overview of your idea
    What data you will use
    What the outcome is that you are trying to achieve
    Any ideas of modelling techniques it may involve


* 1. Item Recommendation for online buyers
** data source: Kaggle/UCI
** outcome: relevant items that will increase purchasing
** collaboration filtering; KNN; cold start

* 2. Missing data processing
** data source: Kaggle/UCI
** outcome: derive missing field values (can manually remove) and see if the modelig performance is impacted
** classification

* 3.https://www.kaggle.com/c/prudential-life-insurance-assessment/data
** data source: Kaggle
** outcome: classifier
** Logistic Regression

* 4. search suggestion tip
** data source: TBD
** outcome: matrix and algorithm to present the most relevant term for user input
** KNN, colaboration filtering, SOM

* 5. TBD
> Do you have any ideas for 5?
> There are a lot of really good Kaggle projects here, but do you have any non-kaggle ideas that we could think about?

# Exercise

In [126]:
import pandas as pd
import numpy.random as random

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

#print pd.read_table('u.data')
#pd.read_table('u.data', 'u.item')
# for each occupation in 'users', count the number of occurrences
users.groupby(['occupation']).count()['age']



# detect duplicate users
users['detect']=1

user_processed=users.groupby(['occupation','gender','zip_code','age']).sum()
user_processed.head

<bound method DataFrame.head of                                    detect
occupation    gender zip_code age
administrator F      03062    51        1
                     03755    39        1
                     04102    50        1
                     15237    59        1
                     16506    49        1
                     16803    43        1
                     17345    30        1
                     19711    27        1
                     19716    49        1
                     20817    23        1
                     20879    54        1
                     21114    29        1
                     33763    48        1
                     42141    38        1
                     43204    51        1
                     44124    42        1
                     44224    47        1
                     44265    36        1
                     48103    38        1
                     49428    38        1
                     52241    34        1
                     52302    30        1
                     55337    33        1
                     55406    35        1
                     58202    51        1
                     60202    22        1
                     60476    37        1
                     68106    43        1
                     73034    48        1
                     78213    33        1
...                                   ...
writer        F      90064    36        1
                     92115    40        1
                     94618    48        1
                     99709    49        1
              M      08534    52        1
                     10003    36        1
                     17604    30        1
                     27105    50        1
                     30068    26        1
                     32067    23        1
                     38115    26        1
                     40206    25        1
                     40515    49        1
                     52245    21        1
                     55105    49        1
                     55113    42        1
                     55369    32        1
                     55408    26        1
                     59801    52        1
                     60804    24        1
                     63108    25        1
                     80209    48        1
                     90019    34        1
                     91505    28        1
                     92154    22        1
                     92653    21        1
                     93055    40        1
                     94583    60        1
                     95468    51        1
                     E2A4H    27        1

[936 rows x 1 columns]>

In [127]:
import pandas as pd
import numpy.random as random

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

#print pd.read_table('u.data')
#pd.read_table('u.data', 'u.item')
# for each occupation in 'users', count the number of occurrences
users.groupby('occupation').count()['age']

# for each occupation, calculate the mean age
users_print=[]
#users_printo['m']=users['age'].groupby('occupation').mean()
users_print=users.groupby('occupation').mean()
#user_print[user_print.occupation].maxage=users['age'].groupby('occupation').max()
#wont' work needs merging
for x in users_print['age']:
 print "%10.1f" % x


# for each occupation, calculate the minimum and maximum ages
users.groupby('occupation').min()
users.groupby('occupation').max()

# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation','gender']).max()

# randomly sample a DataFrame
users.sample

#users.loc((random.uniform(0, users.size)))

# detect duplicate users
users['detect']=1

import pandas as pd
import numpy.random as random

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

#print pd.read_table('u.data')
#pd.read_table('u.data', 'u.item')
# for each occupation in 'users', count the number of occurrences
users.groupby('occupation').count()['age']

# for each occupation, calculate the mean age
users_print=[]
#users_printo['m']=users['age'].groupby('occupation').mean()
users_print=users.groupby('occupation').mean()
#user_print[user_print.occupation].maxage=users['age'].groupby('occupation').max()
#wont' work needs merging
for x in users_print['age']:
 print "%10.1f" % x


# for each occupation, calculate the minimum and maximum ages
users.groupby('occupation').min()
users.groupby('occupation').max()

# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation','gender']).max()

# randomly sample a DataFrame
users.sample

#users.loc((random.uniform(0, users.size)))

# detect duplicate users
users['detect']=1

user_processed=users.groupby(['occupation','gender','zip_code','age']).sum()
user_processed.head=users.groupby(['occupation','gender','zip_code','age']).sum()
user_processed[user_processed.detect>1]
#users.groupby('user_id').count()>1


#rows=users.index
#row_count=users.size
#random.shuffle(list(rows))
#users.reindex(rows)#

#training_data = users[:row_count // 10]
#print training_data

      38.7
      31.4
      43.6
      42.0
      36.4
      29.2
      38.7
      41.6
      32.6
      36.8
      40.0
      37.6
      26.6
      34.5
      33.1
      63.1
      35.7
      35.5
      22.1
      33.1
      36.3
      38.7
      31.4
      43.6
      42.0
      36.4
      29.2
      38.7
      41.6
      32.6
      36.8
      40.0
      37.6
      26.6
      34.5
      33.1
      63.1
      35.7
      35.5
      22.1
      33.1
      36.3

                                detect
occupation gender zip_code age
educator   M      20003    51        2
other      F      20009    27        2
                  60630    44        2
student    F      55414    21        2
           M      55414    28        2
                  60402    17        2
                  97301    32        2